<!DOCTYPE html>
<html lang="es"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cámara 1</title> 
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="icon" href="static/css/logo_chemplate_pequeño.png">
</head>
<body>
    <div class="container">
        <img src="static/css/logo_chemplate.png" alt="Logo" class="logo">
        <h1>Menú de Opciones: Cámara 1</h1> 
        <h3>Compruebe si hay un experimento en proceso antes de interactuar con esta página.</h3>
        
        <nav> 
            <ul>
                <li><a href="/start_capture">Iniciar Captura</a></li>
                <li><a href="/stop_capture">Detener Captura</a></li>
                <li><a href="/abrir_camara">Abrir Cámara</a></li>
                <li><a href="/cerrar_camara">Cerrar Cámara</a></li>
                <li><a href="/sync_with_server">Sincronizar con Servidor</a></li>
                <li><a href="/model">Ver Modelo en Tiempo Real</a></li>
                <li><a href="/historial">Ver Historial</a></li>
		            <li><a href="/enviar_clasificacion_bd">Enviar Clasificacion</a></li>
		            <li><a href="/stop_envio">Parar Envio Clasificacion</a></li>
            </ul>
        </nav>
        <footer> 
            <p>&copy; Chemplate 2024</p>
        </footer>
    </div>
</body>
</html>

